datasource/database-tool/src/main/resources/xsd/dbi-ca.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://xipki.org/xipki/dbi/ca/v2"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
  targetNamespace="http://xipki.org/xipki/dbi/ca/v2"
  elementFormDefault="qualified" version="1.0" jxb:version="2.0">
  <xs:annotation>
    <xs:appinfo>
      <jxb:schemaBindings>
        <jxb:package name="org.xipki.dbi.ca.jaxb"/>
      </jxb:schemaBindings>
    </xs:appinfo>
  </xs:annotation>
  <!--  CAConfiguration -->
  <xs:element name="CAConfiguration" type="CAConfigurationType"/>
  <xs:complexType name="CAConfigurationType">
    <xs:sequence>
      <xs:element ref="cmpcontrol" minOccurs="0"/>
      <xs:element ref="responder" minOccurs="0"/>
      <xs:element name="environments">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="environment" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="crlsigners">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="crlsigner" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="requestors">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="requestor" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="publishers">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="publisher" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="certprofiles">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="certprofile" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="cas">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ca" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="caaliases">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="caalias" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ca_has_requestors">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ca_has_requestor" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ca_has_publishers">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ca_has_publisher" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ca_has_certprofiles">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ca_has_certprofile" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="version" type="xs:int" use="required"/>
  </xs:complexType>
  <xs:element name="cmpcontrol" type="cmpcontrolType"/>
  <xs:complexType name="cmpcontrolType">
    <xs:sequence>
      <xs:element name="require_confirm_cert" type="xs:boolean"/>
      <xs:element name="send_ca_cert" type="xs:boolean"/>
      <xs:element name="send_responder_cert" type="xs:boolean"/>
      <xs:element name="require_message_time" type="xs:boolean"/>
      <xs:element name="message_time_bias" type="xs:int"/>
      <xs:element name="confirm_wait_time" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responder" type="responderType"/>
  <xs:complexType name="responderType">
    <xs:sequence>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="conf" type="xs:string" minOccurs="0"/>
      <xs:element name="cert" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="environment" type="environmentType"/>
  <xs:complexType name="environmentType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="crlsigner" type="crlsignerType"/>
  <xs:complexType name="crlsignerType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="signer_type" type="xs:string"/>
      <xs:element name="signer_conf" type="xs:string" minOccurs="0"/>
      <xs:element name="signer_cert" type="xs:string" minOccurs="0"/>
      <xs:element name="crl_control" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="requestor" type="requestorType"/>
  <xs:complexType name="requestorType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="cert" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="publisher" type="publisherType"/>
  <xs:complexType name="publisherType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="conf" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="certprofile" type="certprofileType"/>
  <xs:complexType name="certprofileType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="art" type="xs:int" minOccurs="0"/>
      <xs:element name="type" type="xs:string"/>
      <xs:choice minOccurs="0">
        <xs:element name="conf" type="xs:string"/>
        <xs:element name="confFile" type="xs:string"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ca" type="caType"/>
  <xs:complexType name="caType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="art" type="xs:int" minOccurs="0"/>
      <xs:element name="next_serial" type="xs:long"/>
      <xs:element name="next_crlNo" type="xs:int"/>
      <xs:element name="status" type="xs:string"/>
      <xs:element name="crl_uris" type="xs:string" minOccurs="0"/>
      <xs:element name="delta_crl_uris" type="xs:string" minOccurs="0"/>
      <xs:element name="ocsp_uris" type="xs:string" minOccurs="0"/>
      <xs:element name="max_validity" type="xs:string"/>
      <xs:element name="cert" type="xs:string"/>
      <xs:element name="signer_type" type="xs:string"/>
      <xs:element name="signer_conf" type="xs:string" minOccurs="0"/>
      <xs:element name="crlsigner_name" type="xs:string" minOccurs="0"/>
      <xs:element name="duplicateKeyMode" type="xs:int"/>
      <xs:element name="duplicateSubjectMode" type="xs:int"/>
      <xs:element name="permissions" type="xs:string" minOccurs="0"/>
      <xs:element name="numCrls" type="xs:int" minOccurs="0"/>
      <xs:element name="expirationPeriod" type="xs:int"/>
      <xs:element name="revoked" type="xs:boolean"/>
      <xs:element name="rev_reason" type="xs:int" minOccurs="0"/>
      <xs:element name="rev_time" type="xs:long" minOccurs="0"/>
      <xs:element name="rev_invalidity_time" type="xs:long" minOccurs="0"/>
      <xs:element name="validity_mode" type="xs:string" minOccurs="0"/>
      <xs:element name="additionalControl" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="caalias" type="caaliasType"/>
  <xs:complexType name="caaliasType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="ca_name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ca_has_requestor" type="ca_has_requestorType"/>
  <xs:complexType name="ca_has_requestorType">
    <xs:sequence>
      <xs:element name="ca_name" type="xs:string"/>
      <xs:element name="requestor_name" type="xs:string"/>
      <xs:element name="ra" type="xs:boolean"/>
      <xs:element name="permissions" type="xs:string" minOccurs="0"/>
      <xs:element name="profiles" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ca_has_publisher" type="ca_has_publisherType"/>
  <xs:complexType name="ca_has_publisherType">
    <xs:sequence>
      <xs:element name="ca_name" type="xs:string"/>
      <xs:element name="publisher_name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ca_has_certprofile" type="ca_has_certprofileType"/>
  <xs:complexType name="ca_has_certprofileType">
    <xs:sequence>
      <xs:element name="ca_name" type="xs:string"/>
      <xs:element name="certprofile_name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <!-- CertStore -->
  <xs:element name="CertStore" type="CertStoreType"/>
  <xs:complexType name="CertStoreType">
    <xs:sequence>
      <xs:element name="cainfos">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="cainfo" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="requestorinfos">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="requestorinfo" type="nameIdType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="publisherinfos">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="publisherinfo" type="nameIdType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="certprofileinfos">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="certprofileinfo" type="nameIdType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="usersFiles">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="usersFile" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="crls">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="crl" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="certsFiles">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="certsFile" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="countCerts" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="publishQueue">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="top" type="toPublishType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deltaCRLCache">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" type="deltaCRLCacheEntryType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="version" type="xs:int" use="required"/>
  </xs:complexType>
  <xs:complexType name="toPublishType">
    <xs:sequence>
      <xs:element name="pubId" type="xs:int"/>
      <xs:element name="certId" type="xs:int"/>
      <xs:element name="caId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deltaCRLCacheEntryType">
    <xs:sequence>
      <xs:element name="serial" type="xs:long"/>
      <xs:element name="caId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cainfo" type="cainfoType"/>
  <xs:complexType name="cainfoType">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="cert" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nameIdType">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="users" type="usersType"/>
  <xs:complexType name="usersType">
    <xs:sequence>
      <xs:element ref="user" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="user" type="userType"/>
  <xs:complexType name="userType">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="crl" type="crlType"/>
  <xs:complexType name="crlType">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="cainfo_id" type="xs:int"/>
      <xs:element name="crlFile" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="certs" type="certsType"/>
  <xs:complexType name="certsType">
    <xs:sequence>
      <xs:element ref="cert" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cert" type="certType"/>
  <xs:complexType name="certType">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="art" type="xs:int" minOccurs="0"/>
      <xs:element name="cainfo_id" type="xs:int"/>
      <xs:element name="certprofileinfo_id" type="xs:int"/>
      <xs:element name="requestorinfo_id" type="xs:int" minOccurs="0"/>
      <xs:element name="last_update" type="xs:long"/>
      <xs:element name="revoked" type="xs:boolean"/>
      <xs:element name="rev_reason" type="xs:int" minOccurs="0"/>
      <xs:element name="rev_time" type="xs:long" minOccurs="0"/>
      <xs:element name="rev_invalidity_time" type="xs:long" minOccurs="0"/>
      <xs:element name="user_id" type="xs:int" minOccurs="0"/>
      <xs:element name="certFile" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
