datasource/database-tool/src/main/resources/xsd/dbi-ca.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xipki.org/xipki/dbi/ca/v1"
 xmlns="http://xipki.org/xipki/dbi/ca/v1"
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" version="1.0"
 xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0"> 
	<xs:annotation>
		<xs:appinfo>
			<jxb:schemaBindings>
				<jxb:package name="org.xipki.dbi.ca.jaxb"/>
			</jxb:schemaBindings>
		</xs:appinfo>
	</xs:annotation>

	<!--  CAConfiguration -->
	<xs:element name="CAConfiguration" type="CAConfigurationType"/>
	
	<xs:complexType name="CAConfigurationType">
		<xs:all>
			<xs:element name="cmpcontrols">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="cmpcontrol" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="responders">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="responder" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="environments">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="environment" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="crlsigners">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="crlsigner" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="requestors">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="requestor" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="publishers">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="publisher" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="certprofiles">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="certprofile" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="cas">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ca" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="caaliases">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="caalias" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ca_has_requestors">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ca_has_requestor" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ca_has_publishers">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ca_has_publisher" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ca_has_certprofiles">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ca_has_certprofile" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attribute name="version" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:element name="cmpcontrol" type="cmpcontrolType"/>
	<xs:complexType name="cmpcontrolType">
		<xs:all>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="require_confirm_cert" type="xs:boolean" />
			<xs:element name="send_ca_cert" type="xs:boolean" />
			<xs:element name="message_time_bias" type="xs:int" />
			<xs:element name="confirm_wait_time" type="xs:int" />			
		</xs:all>
		<xs:attribute name="version" type="xs:string" use="required"/>
	</xs:complexType>
	
	<xs:element name="responder" type="responderType"/>
	<xs:complexType name="responderType">
		<xs:all>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="type" type="xs:string" />
			<xs:element name="conf" type="xs:string" minOccurs="0"/>
			<xs:element name="cert" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>

	<xs:element name="environment" type="environmentType"/>
	<xs:complexType name="environmentType">
		<xs:all>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="value" type="xs:string" />
		</xs:all>
	</xs:complexType>

	<xs:element name="crlsigner" type="crlsignerType"/>
	<xs:complexType name="crlsignerType">
		<xs:all>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="signer_type" type="xs:string" />
			<xs:element name="signer_conf" type="xs:string" minOccurs="0"/>
			<xs:element name="signer_cert" type="xs:string" minOccurs="0"/>
			<xs:element name="period" type="xs:int"/>
			<xs:element name="overlap" type="xs:int"/>
			<xs:element name="include_certs_in_crl" type="xs:boolean"/>
		</xs:all>
	</xs:complexType>
	
	<xs:element name="requestor" type="requestorType"/>
	<xs:complexType name="requestorType">
		<xs:all>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="cert" type="xs:string" />
		</xs:all>
	</xs:complexType>
	
	<xs:element name="publisher" type="publisherType"/>
	<xs:complexType name="publisherType">
		<xs:all>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="type" type="xs:string" />
			<xs:element name="conf" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	
	<xs:element name="certprofile" type="certprofileType"/>
	<xs:complexType name="certprofileType">
		<xs:all>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="type" type="xs:string" />
			<xs:element name="conf" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	
	<xs:element name="ca" type="caType"/>
	<xs:complexType name="caType">
		<xs:all>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="subject" type="xs:string"/>
			<xs:element name="next_serial" type="xs:string" />
			<xs:element name="status" type="xs:string" />
			<xs:element name="crl_uris" type="xs:string" minOccurs="0" />
			<xs:element name="ocsp_uris" type="xs:string" minOccurs="0" />
			<xs:element name="max_validity" type="xs:int"/>			
			<xs:element name="cert" type="xs:string" />
			<xs:element name="signer_type" type="xs:string" />
			<xs:element name="signer_conf" type="xs:string" minOccurs="0"/>
			<xs:element name="crlsigner_name" type="xs:string" minOccurs="0"/>
			<xs:element name="allowDuplicateKey" type="xs:boolean" />
			<xs:element name="allowDuplicateSubject" type="xs:boolean" />
			<xs:element name="permissions" type="xs:string" minOccurs="0"/>
			<xs:element name="numCrls" type="xs:int" minOccurs="0"/>
		</xs:all>
	</xs:complexType>

	<xs:element name="caalias" type="caaliasType"/>
	<xs:complexType name="caaliasType">
		<xs:all>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="ca_name" type="xs:string" />
		</xs:all>
	</xs:complexType>
	
	<xs:element name="ca_has_requestor" type="ca_has_requestorType"/>
	<xs:complexType name="ca_has_requestorType">
		<xs:all>
			<xs:element name="ca_name" type="xs:string"/>
			<xs:element name="requestor_name" type="xs:string" />
			<xs:element name="ra" type="xs:boolean" />
			<xs:element name="permissionts" type="xs:string" minOccurs="0"/>
			<xs:element name="profiles" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	
	<xs:element name="ca_has_publisher" type="ca_has_publisherType"/>
	<xs:complexType name="ca_has_publisherType">
		<xs:all>
			<xs:element name="ca_name" type="xs:string"/>
			<xs:element name="publisher_name" type="xs:string" />
		</xs:all>
	</xs:complexType>

	<xs:element name="ca_has_certprofile" type="ca_has_certprofileType"/>
	<xs:complexType name="ca_has_certprofileType">
		<xs:all>
			<xs:element name="ca_name" type="xs:string"/>
			<xs:element name="certprofile_name" type="xs:string" />
		</xs:all>
	</xs:complexType>

	<!-- CertStore -->
	<xs:element name="CertStore" type="CertStoreType"/>
	
	<xs:complexType name="CertStoreType">
		<xs:all>
			<xs:element name="cainfos">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="cainfo" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="requestorinfos">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="requestorinfo" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="certprofileinfos">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="certprofileinfo" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="users">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="user" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="crls">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="crl" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element> 
			<xs:element name="certsFiles">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="certsFile" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attribute name="version" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:element name="cainfo" type="cainfoType"/>
	<xs:complexType name="cainfoType">
		<xs:all>
			<xs:element name="id" type="xs:int" />
			<xs:element name="subject" type="xs:string" />
			<xs:element name="cert" type="xs:string" />
			<xs:element name="sha1_fp_cert" type="xs:string" />		
		</xs:all>
	</xs:complexType>

	<xs:element name="requestorinfo" type="requestorinfoType"/>
	<xs:complexType name="requestorinfoType">
		<xs:all>
			<xs:element name="id" type="xs:int" />
			<xs:element name="subject" type="xs:string" />
			<xs:element name="cert" type="xs:string" />
			<xs:element name="sha1_fp_cert" type="xs:string" />		
		</xs:all>
	</xs:complexType>

	<xs:element name="certprofileinfo" type="certprofileinfoType"/>
	<xs:complexType name="certprofileinfoType">
		<xs:all>
			<xs:element name="id" type="xs:int" />
			<xs:element name="name" type="xs:string" />
		</xs:all>
	</xs:complexType>

	<xs:element name="user" type="userType"/>
	<xs:complexType name="userType">
		<xs:all>
			<xs:element name="id" type="xs:int" />
			<xs:element name="name" type="xs:string" />
		</xs:all>
	</xs:complexType>

	<xs:element name="crl" type="crlType"/>
	<xs:complexType name="crlType">
		<xs:all>
			<xs:element name="id" type="xs:int" />
			<xs:element name="cainfo_id" type="xs:int" />
			<xs:element name="crl_number" type="xs:string" />
			<xs:element name="thisUpdate" type="xs:string" />
			<xs:element name="nextUpdate" type="xs:string" />		
			<xs:element name="crlFile" type="xs:string" />		
		</xs:all>
	</xs:complexType>

	<xs:element name="certs" type="certsType"/>
	<xs:complexType name="certsType">
		<xs:sequence>
			<xs:element ref="cert" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="cert" type="certType"/>
	<xs:complexType name="certType">
		<xs:all>
			<xs:element name="id" type="xs:int" />
			<xs:element name="cainfo_id" type="xs:string"/>
			<xs:element name="serial" type="xs:string"/>
			<xs:element name="certprofileinfo_id" type="xs:string"/>
			<xs:element name="requestorinfo_id" type="xs:string"/>
			<xs:element name="subject" type="xs:string"/>
			<xs:element name="last_update" type="xs:string"/>
			<xs:element name="notbefore" type="xs:string"/>
			<xs:element name="notafter" type="xs:string"/>
			<xs:element name="revocated" type="xs:boolean"/>
			<xs:element name="rev_reason" type="xs:string"/>
			<xs:element name="rev_time" type="xs:string" minOccurs="0"/>
			<xs:element name="rev_invalidity_time" type="xs:string" minOccurs="0"/>
			<xs:element name="user_id" type="xs:string"/>
			<xs:element name="sha1_fp_pk" type="xs:string"/>
			<xs:element name="sha1_fp_subject" type="xs:string"/>
			<xs:element name="sha1_fp_cert" type="xs:string"/>
			<xs:element name="certFile" type="xs:string"/>		
		</xs:all>		
	</xs:complexType>
</xs:schema>
