datasource/database-tool/src/main/resources/xsd/dbi-ca.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright (c) 2014 - 2015 Lijun Liao
-->
<xs:schema xmlns="http://xipki.org/xipki/dbi/ca/v2"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
  targetNamespace="http://xipki.org/xipki/dbi/ca/v2"
  elementFormDefault="qualified"
  version="1.0"
  jxb:version="2.0">
  <xs:annotation>
    <xs:appinfo>
      <jxb:schemaBindings>
        <jxb:package name="org.xipki.dbi.ca.jaxb"/>
      </jxb:schemaBindings>
    </xs:appinfo>
  </xs:annotation>
  <!--  CAConfiguration -->
  <xs:element name="CAConfiguration" type="CAConfigurationType"/>
  <xs:complexType name="CAConfigurationType">
    <xs:sequence>
      <xs:element name="cmpcontrols">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="cmpcontrol" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element ref="responder" minOccurs="0"/>
      <xs:element name="environments">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="environment" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="crlsigners">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="crlsigner" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="requestors">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="requestor" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="publishers">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="publisher" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="profiles">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="profile" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="cas">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ca" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="caaliases">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="caalias" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="caHasRequestors">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="caHasRequestor" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="caHasPublishers">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="caHasPublisher" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="caHasProfiles">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="caHasProfile" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="version" type="xs:int" use="required"/>
  </xs:complexType>
  <xs:element name="cmpcontrol" type="cmpcontrolType"/>
  <xs:complexType name="cmpcontrolType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="conf" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responder" type="responderType"/>
  <xs:complexType name="responderType">
    <xs:sequence>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="conf" type="xs:string" minOccurs="0"/>
      <xs:element name="cert" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="environment" type="environmentType"/>
  <xs:complexType name="environmentType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="crlsigner" type="crlsignerType"/>
  <xs:complexType name="crlsignerType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="signerType" type="xs:string"/>
      <xs:element name="signerConf" type="xs:string" minOccurs="0"/>
      <xs:element name="signerCert" type="xs:string" minOccurs="0"/>
      <xs:element name="crlControl" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="requestor" type="requestorType"/>
  <xs:complexType name="requestorType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="cert" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="publisher" type="publisherType"/>
  <xs:complexType name="publisherType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="conf" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="profile" type="profileType"/>
  <xs:complexType name="profileType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="art" type="xs:int" minOccurs="0"/>
      <xs:element name="type" type="xs:string"/>
      <xs:choice minOccurs="0">
        <xs:element name="conf" type="xs:string"/>
        <xs:element name="confFile" type="xs:string"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ca" type="caType"/>
  <xs:complexType name="caType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="art" type="xs:int" minOccurs="0"/>
      <xs:element name="nextSerial" type="xs:long"/>
      <xs:element name="nextCrlNo" type="xs:int"/>
      <xs:element name="status" type="xs:string"/>
      <xs:element name="crlUris" type="xs:string" minOccurs="0"/>
      <xs:element name="deltacrlUris" type="xs:string" minOccurs="0"/>
      <xs:element name="ocspUris" type="xs:string" minOccurs="0"/>
      <xs:element name="cacertUris" type="xs:string" minOccurs="0"/>
      <xs:element name="maxValidity" type="xs:string"/>
      <xs:element name="cert" type="xs:string"/>
      <xs:element name="signerType" type="xs:string"/>
      <xs:element name="signerConf" type="xs:string" minOccurs="0"/>
      <xs:element name="crlsignerName" type="xs:string" minOccurs="0"/>
      <xs:element name="cmpcontrolName" type="xs:string" minOccurs="0"/>
      <xs:element name="duplicateKey" type="xs:int"/>
      <xs:element name="duplicateSubject" type="xs:int"/>
      <xs:element name="permissions" type="xs:string" minOccurs="0"/>
      <xs:element name="numCrls" type="xs:int" minOccurs="0"/>
      <xs:element name="expirationPeriod" type="xs:int"/>
      <xs:element name="revoked" type="xs:boolean"/>
      <xs:element name="revReason" type="xs:int" minOccurs="0"/>
      <xs:element name="revTime" type="xs:long" minOccurs="0"/>
      <xs:element name="revInvTime" type="xs:long" minOccurs="0"/>
      <xs:element name="validityMode" type="xs:string" minOccurs="0"/>
      <xs:element name="extraControl" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="caalias" type="caaliasType"/>
  <xs:complexType name="caaliasType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="caName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="caHasRequestor" type="caHasRequestorType"/>
  <xs:complexType name="caHasRequestorType">
    <xs:sequence>
      <xs:element name="caName" type="xs:string"/>
      <xs:element name="requestorName" type="xs:string"/>
      <xs:element name="ra" type="xs:boolean"/>
      <xs:element name="permissions" type="xs:string" minOccurs="0"/>
      <xs:element name="profiles" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="caHasPublisher" type="caHasPublisherType"/>
  <xs:complexType name="caHasPublisherType">
    <xs:sequence>
      <xs:element name="caName" type="xs:string"/>
      <xs:element name="publisherName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="caHasProfile" type="caHasProfileType"/>
  <xs:complexType name="caHasProfileType">
    <xs:sequence>
      <xs:element name="caName" type="xs:string"/>
      <xs:element name="profileName" type="xs:string"/>
      <xs:element name="profileLocalname" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <!-- CertStore -->
  <xs:element name="CertStore" type="CertStoreType"/>
  <xs:complexType name="CertStoreType">
    <xs:sequence>
      <xs:element name="cas">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ca" type="certstoreCaType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="requestors">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="requestor" type="nameIdType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="publishers">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="publisher" type="nameIdType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="profiles">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="profile" type="nameIdType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="usersFiles">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="usersFile" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="crls">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="crl" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="certsFiles">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="certsFile" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="countCerts" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="publishQueue">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="top" type="toPublishType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deltaCRLCache">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" type="deltaCRLCacheEntryType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="version" type="xs:int" use="required"/>
  </xs:complexType>
  <xs:complexType name="toPublishType">
    <xs:sequence>
      <xs:element name="pubId" type="xs:int"/>
      <xs:element name="certId" type="xs:int"/>
      <xs:element name="caId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deltaCRLCacheEntryType">
    <xs:sequence>
      <xs:element name="serial" type="xs:long"/>
      <xs:element name="caId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="certstoreCaType">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="cert" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nameIdType">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="users" type="usersType"/>
  <xs:complexType name="usersType">
    <xs:sequence>
      <xs:element ref="user" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="user" type="userType"/>
  <xs:complexType name="userType">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="crl" type="crlType"/>
  <xs:complexType name="crlType">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="caId" type="xs:int"/>
      <xs:element name="crlFile" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="certs" type="certsType"/>
  <xs:complexType name="certsType">
    <xs:sequence>
      <xs:element ref="cert" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cert" type="certType"/>
  <xs:complexType name="certType">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="art" type="xs:int" minOccurs="0"/>
      <xs:element name="caId" type="xs:int"/>
      <xs:element name="profileId" type="xs:int"/>
      <xs:element name="requestorId" type="xs:int" minOccurs="0"/>
      <xs:element name="last_update" type="xs:long"/>
      <xs:element name="revoked" type="xs:boolean"/>
      <xs:element name="revReason" type="xs:int" minOccurs="0"/>
      <xs:element name="revTime" type="xs:long" minOccurs="0"/>
      <xs:element name="revInvTime" type="xs:long" minOccurs="0"/>
      <xs:element name="userId" type="xs:int" minOccurs="0"/>
      <xs:element name="certFile" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
